*
{
	 font-family: "Parkinsans", serif;
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	width:100vw;
	height:100vh;
}
.hero
{
	
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}

.hero img{
	width:70%;
	
}
.description
{
	text-align:center;
	padding:10px;
	
	
}
.description p
{
	margin-top:15px;
	margin-bottom:20px;
}
.btn
{
	padding:10px;
	background-color:orangered;
	color:white;
	border:none;
	border-radius:10px;
	
}